node_modules
npm-debug.log
.next
out
.env
.env.*
.git
.gitignore
README.md
.vscode
coverage
**/*.test.ts
**/*.test.tsx
Dockerfile
docker-compose.yml
*.md
.eslintrc.json
.eslintrc.js
.eslintrc.cjs
.prettier*
.nyc_output
.DS_Store
*.log
*.tgz
*.tar.gz